@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 225 20% 7%;
    --foreground: 210 20% 98%;
    --card: 225 20% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 225 47% 12%;
    --popover-foreground: 210 20% 98%;
    --primary: 333 82% 52%;
    --primary-foreground: 210 20% 98%;
    --secondary: 225 27% 20%;
    --secondary-foreground: 210 20% 98%;
    --muted: 225 27% 20%;
    --muted-foreground: 210 10% 63%;
    --accent: 210 100% 50%;
    --accent-foreground: 0 0% 0%;
    --destructive: 351 82% 52%;
    --destructive-foreground: 210 20% 98%;
    --border: 225 27% 20%;
    --input: 225 27% 20%;
    --ring: 333 82% 52%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --sidebar-background: 225 20% 7%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 333 82% 52%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 225 20% 10%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 225 27% 20%;
    --sidebar-ring: 333 82% 52%;
  }
  .dark {
    --background: 225 20% 7%;
    --foreground: 210 20% 98%;
    --card: 225 20% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 225 47% 12%;
    --popover-foreground: 210 20% 98%;
    --primary: 333 82% 52%;
    --primary-foreground: 210 20% 98%;
    --secondary: 225 27% 20%;
    --secondary-foreground: 210 20% 98%;
    --muted: 225 27% 20%;
    --muted-foreground: 210 10% 63%;
    --accent: 210 100% 50%;
    --accent-foreground: 0 0% 0%;
    --destructive: 351 82% 52%;
    --destructive-foreground: 210 20% 98%;
    --border: 225 27% 20%;
    --input: 225 27% 20%;
    --ring: 333 82% 52%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 225 20% 7%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 333 82% 52%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 333 82% 52%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 225 27% 20%;
    --sidebar-ring: 333 82% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
